body {
    font-family: Arial, Helvetica, sans-serif;
}

#music-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#song-image {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

#song-name {
    margin-top: 20px;
    font-size: 2em;
}

#music-buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#music-buttons i {
    padding: 10px;
}

#slider-song {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    height: 5px;
    background: repeating-linear-gradient(45deg, red, red 12px, white 12px, white 24px);
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 20px;
}

#slider-song::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}